* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(37, 33, 33);
}
.calculator_container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: minmax(130px, auto) repeat(5, 70px);
}
#equal {
  grid-column: span 2;
}
.dispaly_area {
  grid-column: span 4;
  background-color: rgb(64, 85, 85);
  text-align: right;
  padding: 7px;
  color: rgb(5, 20, 32);
  border-top: 25px solid gray;
  border-right: 5px solid gray;
  border-left: 5px solid gray;
  border-bottom: 2px solid gray;
  border-radius: 5px 5px 0 0;
  width: 100%;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.previous_operand {
  font-size: 30px;
  word-break: break-all;
  /* word-wrap: break-word; */
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.current_operand {
  font-size: 40px;
  word-break: break-all;
  height: 50%;
}
button {
  font-size: 25px;
  background-color: rgb(80, 78, 78);
  color: aliceblue;
  border: 2px solid gray;
  border-radius: 2px;
}
button:hover {
  font-size: 25px;
  background-color: rgb(65, 63, 63);
  color: aliceblue;
}
